.logos__marquee {
	display: flex;
	overflow: hidden;
	user-select: none;
	white-space: nowrap;
	position: relative;
	mask-image: linear-gradient(
	  to right,
	  hsl(0 0% 0% / 0),
	  hsl(0 0% 0% / 1) 10%,
	  hsl(0 0% 0% / 1) 90%,
	  hsl(0 0% 0% / 0)
	);
  }
  
  .marquee__logos {
	display: flex;
	align-items: center;
	gap: 3rem;
	animation: infiniteScroll 10s linear infinite;
  }
  
  /* Pause animation on hover */
  /* .marquee__logos:hover {
	animation-play-state: paused;
  }
   */
  /* Smooth infinite scrolling effect */
  @keyframes infiniteScroll {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-50%);
	}
  }
  

@media (max-width: 768px) {
	.marquee__logos {
		animation-duration: 15s; /* Slower on mobile */
	}
}

@media (min-width: 1024px) {
	.marquee__logos {
		animation-duration: 8s; /* Faster on desktop */
	}
}
